############
# Compiled #
############
*.class

#################
# IDE Generated #
#################
.classpath
.project
.settings

########
# Data #
########
*.TXT
*.txt
*.DIR
*.dir

##########
# Output #
##########
*.output

########
# Misc #
########
*~